<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="libs/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="libs/jsonFormater/json-formatter.css">
  </div>
  <style>
    /* Spinner CSS -Starts*/
    .lds-roller {
      display: inline-block;
      position: relative;
      width: 64px;
      height: 64px;
    }
    .lds-roller div {
      animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 32px 32px;
    }
    .lds-roller div:after {
      content: " ";
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #fff;
      margin: -3px 0 0 -3px;
    }
    .lds-roller div:nth-child(1) {
      animation-delay: -0.036s;
    }
    .lds-roller div:nth-child(1):after {
      top: 50px;
      left: 50px;
    }
    .lds-roller div:nth-child(2) {
      animation-delay: -0.072s;
    }
    .lds-roller div:nth-child(2):after {
      top: 54px;
      left: 45px;
    }
    .lds-roller div:nth-child(3) {
      animation-delay: -0.108s;
    }
    .lds-roller div:nth-child(3):after {
      top: 57px;
      left: 39px;
    }
    .lds-roller div:nth-child(4) {
      animation-delay: -0.144s;
    }
    .lds-roller div:nth-child(4):after {
      top: 58px;
      left: 32px;
    }
    .lds-roller div:nth-child(5) {
      animation-delay: -0.18s;
    }
    .lds-roller div:nth-child(5):after {
      top: 57px;
      left: 25px;
    }
    .lds-roller div:nth-child(6) {
      animation-delay: -0.216s;
    }
    .lds-roller div:nth-child(6):after {
      top: 54px;
      left: 19px;
    }
    .lds-roller div:nth-child(7) {
      animation-delay: -0.252s;
    }
    .lds-roller div:nth-child(7):after {
      top: 50px;
      left: 14px;
    }
    .lds-roller div:nth-child(8) {
      animation-delay: -0.288s;
    }
    .lds-roller div:nth-child(8):after {
      top: 45px;
      left: 10px;
    }
    @keyframes lds-roller {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    /* Spinner CSS - Ends */
    .toggler ::after {
      background-image: url('images/get_started16.png') !important;
    }
    .container-table {
      height: 100%;
    }
    .container-table {
      display: table;
    }
    .vertical-center-row {
      display: table-cell;
      vertical-align: middle;
    }
    #codeBox {
      width: 300px;
      margin-top: 5px;
    }
    .codeBoxActive {
      box-shadow: 0 0 5px 1px green;
      background-color: #c8e8c8
    }
    .codeBoxNotActive {
      box-shadow: 0 0 5px 1px #464646;
      background-color: #adadad;
    }
    #individual {
      width: 300px;
      height: 300px;
      margin-top: 20px;
    }
    .sizer {
      padding: 5px;
      width: 300px;
      border: 1px solid #999;
    }
    .custom-container {
      padding: 5px;
      background: #ddd;
    }
    .activeHeader {
      font-weight: bold;
      color: green;
    }
    .strikeThrough {
      text-decoration: line-through;
    }
  </style>
</head>

<body style=" background: #ddd;">


  <script src="libs/angular/angular.min.js"></script>

  <script src="popup.js"></script>


  <div ng-app="myApp" class="custom-container" ng-controller="myCtrl">    

    <div class="sizer" ng-if="!currentInstruction || generatePageFlag" style="width: 320px;">
      <div class="container container-table">
        <div class="row vertical-center-row">
          <label for="order">Order#</label>
          <input type="text" class="form-control" id="order" ng-model="generator.order" ng-init="generator.order='2180731409'">
          <label for="state">State</label>
          <select class="form-control" id="state" ng-model="generator.state" ng-init="generator.state='OR'">
            <option value="Select State">Select State</option>
            <option value="AL">AL</option>
            <option value="AK">AK</option>
            <option value="AZ">AZ</option>
            <option value="AR">AR</option>
            <option value="CA">CA</option>
            <option value="CO">CO</option>
            <option value="CT">CT</option>
            <option value="DE">DE</option>
            <option value="DC">DC</option>
            <option value="FL">FL</option>
            <option value="GA">GA</option>
            <option value="HI">HI</option>
            <option value="ID">ID</option>
            <option value="IL">IL</option>
            <option value="IN">IN</option>
            <option value="IA">IA</option>
            <option value="KS">KS</option>
            <option value="KY">KY</option>
            <option value="LA">LA</option>
            <option value="ME">ME</option>
            <option value="MD">MD</option>
            <option value="MA">MA</option>
            <option value="MI">MI</option>
            <option value="MN">MN</option>
            <option value="MS">MS</option>
            <option value="MO">MO</option>
            <option value="MT">MT</option>
            <option value="NE">NE</option>
            <option value="NV">NV</option>
            <option value="NH">NH</option>
            <option value="NJ">NJ</option>
            <option value="NM">NM</option>
            <option value="NY">NY</option>
            <option value="NC">NC</option>
            <option value="ND">ND</option>
            <option value="OH">OH</option>
            <option value="OK">OK</option>
            <option value="OR">OR</option>
            <option value="PA">PA</option>
            <option value="RI">RI</option>
            <option value="SC">SC</option>
            <option value="SD">SD</option>
            <option value="TN">TN</option>
            <option value="TX">TX</option>
            <option value="UT">UT</option>
            <option value="VT">VT</option>
            <option value="VA">VA</option>
            <option value="WA">WA</option>
            <option value="WV">WV</option>
            <option value="WI">WI</option>
            <option value="WY">WY</option>
          </select>
        </div>
      </div>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="inputs.a"  value="">&lt;a&gt; </label>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="inputs.button" ng-init="inputs.button=true" ng-checked="true" value="true">&lt;button&gt;</label>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="inputs.select" ng-init="inputs.select=true"  ng-checked="true"  value="true">&lt;select&gt;</label>
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="inputs.input" ng-init="inputs.input=true"  ng-checked="true"  value="true">&lt;input&gt;</label>

      <div class="container container-table" style="margin-top: 10px">
        <div class="row vertical-center-row">
          <button class="btn btn-danger center" ng-click="fetchApi()">Start Over</button>
          <button class="btn btn-success center" ng-click="fetchApi(true)">Resume</button>
        </div>
      </div>
      <div ng-if="loading" class="container container-table" style="margin-top: 10px">
        <div class="row vertical-center-row">
          <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>      
      <br>
    </div>

    <div ng-if="(!(!currentInstruction || generatePageFlag)) && !generation.instructionsGenerated">
      <!-- <button class="btn btn-success" ng-click="goBack();">&lt; Back</button> -->
      <div class="row">
        <div class="col-xs-3">
          <button type="button" class="btn btn-default btn-sm" ng-click="goBack();">Back</button>
          <!-- <button type="button" class="btn btn-default btn-sm" ng-click="closed();">close</button> -->
          
        </div>
        <div class="col-xs-6">
          <p style="text-align: center;">{{currentInstructionCount+1}} out of {{response.length}}</p>
        </div>
        <div class="col-xs-3" style="margin-left: -42px;" 
        ng-if="(currentInstructionCount == 0 && !currentInstruction.status && !currentInstruction.script && !currentInstruction.wait && !currentInstruction.waitElement && !currentInstruction.loadURL)">
          <button type="button" class="btn btn-sm" ng-class="{'btn-success':!currentInstruction.conditionStarts,'btn-danger':currentInstruction.conditionStarts}"
            ng-click="conditionStarts()">{{currentInstruction.conditionStarts?'Remove Cndt':'Add condition'}} </button>
        </div>
      </div>

      <div style="border: 1px dashed #aba8a8;margin: 2px 0;max-width: 300px;overflow: hidden;height:auto;">
        <p style="margin: 5px;">          
          <input type="checkbox" id="status" ng-model="currentInstruction.status" style="margin: 2px 0px 0px 0px;" 
          ng-click="addStatus();" /> 
          <label for="status" style="margin: 2px 0px 0px 5px;color:#333;font-weight:bold;">Status</label>

          <input type="checkbox" id="script-inst" ng-model="currentInstruction.script" style="margin: 2px 0px 0px 0px;" 
          ng-click="addScript();" /> 
          <label for="script-inst" style="margin: 2px 0px 0px 5px;color:#333;font-weight:bold;">Script</label>

          <input type="checkbox" id="wait-inst" ng-model="currentInstruction.wait" style="margin: 2px 0px 0px 0px;" 
          ng-click="addWait();" /> 
          <label for="wait-inst" style="margin: 2px 0px 0px 5px;color:#333;font-weight:bold;">Wait</label>

          <input type="checkbox" id="wait-element-inst" ng-model="currentInstruction.waitElement" style="margin: 2px 0px 0px 0px;" 
          ng-click="addWaitForElement();" /> 
          <label for="wait-element-inst" style="margin: 2px 0px 0px 5px;color:#333;font-weight:bold;">Element</label>
        </p>  
        <p style="margin: 5px;">
          <input type="checkbox" id="load-url-inst" ng-model="currentInstruction.loadURL" style="margin: 2px 0px 0px 0px;" 
          ng-click="addLoadURL();" /> 
          <label for="load-url-inst" style="margin: 2px 0px 0px 5px;color:#333;font-weight:bold;">URL</label>
          <input type="checkbox" id="common-inst" ng-model="currentInstruction.common" style="margin: 2px 0px 0px 0px;" 
          ng-click="addCommon();" /> 
          <label for="common-inst" style="margin: 2px 0px 0px 5px;color:#333;font-weight:bold;">Common</label>
          <input type="checkbox" id="localfile-inst" ng-model="currentInstruction.localFile" style="margin: 2px 0px 0px 0px;" 
          ng-click="readLocalFile();" /> 
          <label for="localfile-inst" style="margin: 2px 0px 0px 5px;color:#333;font-weight:bold;">Read Local File</label>
        </p>
        <p style="margin: 5px;">
          <input type="checkbox" id="fileupload-inst" ng-model="currentInstruction.fileUpload" style="margin: 2px 0px 0px 0px;" 
          ng-click="addFileUpload();" /> 
          <label for="fileupload-inst" style="margin: 2px 0px 0px 5px;color:#333;font-weight:bold;">File Upload</label>
          <input type="checkbox" id="changefilename-inst" ng-model="currentInstruction.changeFileName" style="margin: 2px 0px 0px 0px;" 
          ng-click="addChangeFileName();" /> 
          <label for="changefilename-inst" style="margin: 2px 0px 0px 5px;color:#333;font-weight:bold;">Change File Name</label>
        </p>
        <p style="margin: 5px;">
          <input type="checkbox" id="getElementAttribute-inst" ng-model="currentInstruction.getElementAttribute" style="margin: 2px 0px 0px 0px;" 
          ng-click="addGetElementAttribute();" /> 
          <label for="getElementAttribute-inst" style="margin: 2px 0px 0px 5px;color:#333;font-weight:bold;">getElementAttribute</label>
        </p>
        <p style="margin: 5px;">
          <input type="checkbox" id="scrollToElement-inst" ng-model="currentInstruction.scrollToElement"  
          style="margin: 2px 0px 0px 0px;" ng-click="addScrollToElement();" /> 
          <label for="scrollToElement-inst" style="margin: 2px 0px 0px 5px;color:#333;font-weight:bold;">Scroll To Element</label>
          <input type="checkbox" id="scrollToPosition-inst" ng-model="currentInstruction.scrollToPosition"  
          style="margin: 2px 0px 0px 0px;" ng-click="addScrollToPosition();" /> 
          <label for="scrollToPosition-inst" style="margin: 2px 0px 0px 5px;color:#333;font-weight:bold;">Scroll To Position</label>
        </p>
        <p style="margin: 5px;">
          <input type="checkbox" id="elementToPDF-inst" ng-model="currentInstruction.elementToPDF"  
          style="margin: 2px 0px 0px 0px;" ng-click="addElementToPDF();" /> 
          <label for="elementToPDF-inst" style="margin: 2px 0px 0px 5px;color:#333;font-weight:bold;">elementToPDF</label>
        </p>  
        <p style="margin: 5px;">
          <button type="button" class="btn btn-sm btn-success" ng-click="resetStatusCustom()" 
          style="float:right;margin:5px 0px 5px 0px;">Reset All</button>
        </p>      
        <p style="margin: 5px;" ng-if="currentInstruction.status">
          <input type="text" ng-model="currentInstruction.statusComment" placeholder="Add Status Message..." style="width:290px;height:40px;padding:5px;" ng-change="updateStatusComment();" />          
        </p>
        <p style="margin: 5px;" ng-if="currentInstruction.script">          
          <input type="text" ng-model="currentInstruction.scriptComment" placeholder="Comment.." style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateScriptComment();" />
          <textarea type="status-msg" ng-model="currentInstruction.customScript" placeholder="Add Custom Script" style="width:290px;height:70px;padding:5px;" ng-change="updateCustomScript();"></textarea>
        </p>
        <p style="margin: 5px;" ng-if="currentInstruction.wait">          
          <input type="text" ng-model="currentInstruction.waitComment" placeholder="Comment.." style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateWaitComment();" />
          <input type="number" ng-model="currentInstruction.waitTime" placeholder="Time..." style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateWaitTime();" />          
        </p>
        <p style="margin: 5px;" ng-if="currentInstruction.waitElement">          
          <input type="text" ng-model="currentInstruction.waitElementComment" placeholder="Comment.." style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateWaitElementComment();" />
          <span>
            <span>
              <label class="radio-inline">
                <input type="radio" name="optelement" value="id" ng-model="currentInstruction.waitElementLocator" 
                ng-click="updateWaitElementLocator();">ID</label>
            </span>
            <span>
              <label class="radio-inline">
                <input type="radio" name="optelement" value="xpath" ng-model="currentInstruction.waitElementLocator" 
                ng-click="updateWaitElementLocator();">XPATH</label>
            </span>
            <span>
              <label class="radio-inline">
                <input type="radio" name="optelement" value="name" ng-model="currentInstruction.waitElementLocator" 
                ng-click="updateWaitElementLocator();">NAME</label>
            </span>
          </span>
          <input type="text" ng-model="currentInstruction.waitElementIdentifier" placeholder="{{currentInstruction.waitElementLocator}}" style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateWaitElementIdentifier();" />          
        </p>
        <p style="margin: 5px;" ng-if="currentInstruction.loadURL">          
          <input type="text" ng-model="currentInstruction.URLComment" placeholder="Comment.." style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateLoadURLComment();" />
          <input type="url" ng-model="currentInstruction.URL" placeholder="URL" style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateLoadURL();" />          
        </p>
        <p style="margin: 5px;" ng-if="currentInstruction.common">          
          <input type="number" ng-model="currentInstruction.commonTimeout" placeholder="Comment.." style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateCommonTimeout();" />          
        </p>
        <p style="margin: 5px;" ng-if="currentInstruction.localFile">          
          <input type="text" ng-model="currentInstruction.localFileComment" placeholder="Comment.." style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateLocalFileComment();" />
          <input type="text" ng-model="currentInstruction.localFileName" placeholder="File name" style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateLocalFileName();" />
          <input type="text" ng-model="currentInstruction.localFileValue" placeholder="Value" style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateLocalFileValue();" />          
        </p>
        <p style="margin: 5px;" ng-if="currentInstruction.fileUpload">          
          <input type="text" ng-model="currentInstruction.fileUploadComment" placeholder="Comment.." style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateFileUploadComment();" />
          <input type="text" ng-model="currentInstruction.fileUploadURL" placeholder="URL" style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateFileUploadURL();" />
          <input type="text" ng-model="currentInstruction.fileUploadVariable" placeholder="Variable" style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateFileUploadVariable();" />          
        </p>
        <p style="margin: 5px;" ng-if="currentInstruction.changeFileName">          
          <input type="text" ng-model="currentInstruction.changeFileNameComment" placeholder="Comment.." style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateChangeFileNameComment();" />
          <input type="text" ng-model="currentInstruction.changeFileNameOfFileName" placeholder="File Name" style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateChangeFileNameOfFileName();" />                    
        </p>

        <!-- getElementAttribute start-->
        <p style="margin: 5px;" ng-if="currentInstruction.getElementAttribute">          
          <input type="text" ng-model="currentInstruction.getElementAttributeComment" placeholder="Comment.." style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateGetElementAttributeComment();" />
          <span>
            <span>
              <label class="radio-inline">
                <input type="radio" name="optGetElementAttribute" value="id" ng-model="currentInstruction.getElementAttributeLocator" 
                ng-click="updateGetElementAttributeLocator();">ID</label>
            </span>
            <span>
              <label class="radio-inline">
                <input type="radio" name="optGetElementAttribute" value="xpath" ng-model="currentInstruction.getElementAttributeLocator" 
                ng-click="updateGetElementAttributeLocator();">XPATH</label>
            </span>
            <span>
              <label class="radio-inline">
                <input type="radio" name="optGetElementAttribute" value="name" ng-model="currentInstruction.getElementAttributeLocator" 
                ng-click="updateGetElementAttributeLocator();">NAME</label>
            </span>
          </span>
          <input type="text" ng-model="currentInstruction.getElementAttributeIdentifier" placeholder="{{currentInstruction.getElementAttributeLocator}}" style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateElementAttributeIdentifier();" />
          <input type="text" ng-model="currentInstruction.getElementAttributeVariable" placeholder="Variable" style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateGetElementAttributeVariable();" />
        </p>
        <!-- getElementAttribute stop-->

        <!-- Scroll to element start-->
        <p style="margin: 5px;" ng-if="currentInstruction.scrollToElement">                    
          <span>
            <span>
              <label class="radio-inline">
                <input type="radio" name="optScrollToElemen" value="id" ng-model="currentInstruction.scrollToElementLocator" 
                ng-click="updateScrollToElementLocator();">ID</label>
            </span>
            <span>
              <label class="radio-inline">
                <input type="radio" name="optScrollToElemen" value="xpath" ng-model="currentInstruction.scrollToElementLocator" 
                ng-click="updateScrollToElementLocator();">XPATH</label>
            </span>
            <span>
              <label class="radio-inline">
                <input type="radio" name="optScrollToElemen" value="name" ng-model="currentInstruction.scrollToElementLocator" 
                ng-click="updateScrollToElementLocator();">NAME</label>
            </span>
          </span>
          <input type="text" ng-model="currentInstruction.scrollToElementIdentifier" placeholder="{{currentInstruction.scrollToElementLocator}}" style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateScrollToElementIdentifier();" />          
        </p>
        <!-- Scroll to element stop-->

        <!-- Scroll to position start-->
        <p style="margin: 5px;" ng-if="currentInstruction.scrollToPosition">                    
          <input type="text" ng-model="currentInstruction.scrollToPositionTop" placeholder="Top" style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateScrollToPositionTop();" />
          <input type="text" ng-model="currentInstruction.scrollToPositionBottom" placeholder="Bottom" style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateScrollToPositionBottom();" />          
        </p>
        <!-- Scroll to position stop-->

        <!-- Element to PDF start-->
        <p style="margin: 5px;" ng-if="currentInstruction.elementToPDF">
          <input type="text" ng-model="currentInstruction.elementToPDFComment" placeholder="Comment" style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateElementToPDFComment();" />                    
          <span>
            <span>
              <label class="radio-inline">
                <input type="radio" name="optScrollToElemen" value="id" ng-model="currentInstruction.elementToPDFLocator" 
                ng-click="updateElementToPDFLocator();">ID</label>
            </span>
            <span>
              <label class="radio-inline">
                <input type="radio" name="optScrollToElemen" value="xpath" ng-model="currentInstruction.elementToPDFLocator" 
                ng-click="updateElementToPDFLocator();">XPATH</label>
            </span>
            <span>
              <label class="radio-inline">
                <input type="radio" name="optScrollToElemen" value="name" ng-model="currentInstruction.elementToPDFLocator" 
                ng-click="updateElementToPDFLocator();">NAME</label>
            </span>
          </span>
          <input type="text" ng-model="currentInstruction.elementToPDFIdentifier" 
          placeholder="{{currentInstruction.elementToPDFLocator}}" style="width:290px;height:40px;padding:5px;margin-bottom:10px;" 
          ng-change="updateElementToPDFIdentifier();" />      
          <input type="text" ng-model="currentInstruction.elementToPDFValue" placeholder="Value" style="width:290px;height:40px;padding:5px;margin-bottom:10px;" ng-change="updateElementToPDFValue();" />     
        </p>
        <!-- Element to PDF stop-->

      </div>

      <div ng-if="(!currentInstruction.status && !currentInstruction.script && !currentInstruction.wait && !currentInstruction.waitElement && !currentInstruction.loadURL)">        
        <div ng-if="conditionFlag" style="width: 98%;margin-left: 1%;margin-top: 5px;">
          <div ng-if="currentInstructionCount == 0">
          <input type="text" placeholder="Condition Variable" ng-model="condition.apiValue" ng-change="setConditionalVariable();"
            list="testList" class="form-control">
          </div>  
          <input type="text" placeholder="Case String (Eg: value or default)" ng-model="condition.caseString" ng-change="setCaseString();"
            class="form-control">
          <datalist id="testList" ng-init="apiIndex=false">
            <option ng-repeat="apis in apiKeys" value="{{apis.key}}">
          </datalist>
          <div class="clearfix"></div>
        </div>
      </div>

      <h4 ng-if="(!currentInstruction.status && !currentInstruction.script && !currentInstruction.wait && !currentInstruction.waitElement && !currentInstruction.loadURL)" ng-class="{'activeHeader':currentInstruction.enabled,strikeThrough:!currentInstruction.enabled}"> 
        <span>
          {{currentInstruction.type|uppercase}}
        </span>
        <span style="font-size: 10px;float: right;margin-top: 3px;" ng-if="currentInstruction.type=='dropDownClick'">
          <label class="radio-inline">
            <input type="radio" style="bottom: 0%" name="dropDownOptradio" value="text" ng-model="currentInstruction.dropdownMethod"
              ng-click="changeDropdownMethod(currentInstruction,'text');">TEXT</label>

          <label class="radio-inline">
            <input type="radio" style="bottom: 0%" name="dropDownOptradio" value="value" ng-model="currentInstruction.dropdownMethod"
              ng-click="changeDropdownMethod(currentInstruction,'value');">VALUE</label>
        </span>
      </h4>
      <div ng-if="(!currentInstruction.status && !currentInstruction.script && !currentInstruction.wait && !currentInstruction.waitElement && !currentInstruction.loadURL)" >
        <div ng-if="!currentInstruction.conditionStarts || (!!condition.apiValue && !!condition.caseString)" style="padding: 2px;border: 1px dashed #aba8a8;">
          <button class="btn btn-default" ng-disabled="!currentInstructionCount>0" ng-click="previous()">Prev</button>
          <button class="btn btn-default" ng-disabled="!(response.length>(currentInstructionCount+1))" ng-click="next()">Next </button>


          <span ng-if="!!currentInstruction.locator.id || !!currentInstruction.locator.name">
            <span ng-if="!!currentInstruction.locator.id">
              <label class="radio-inline">
                <input type="radio" name="optradio" value="id" ng-model="currentInstruction.selectedLocator" ng-click="changeLocator(currentInstruction,'id');">ID</label>
            </span>
            <span ng-if="!!currentInstruction.locator.xpath">
              <label class="radio-inline">
                <input type="radio" name="optradio" value="xpath" ng-model="currentInstruction.selectedLocator" ng-click="changeLocator(currentInstruction,'xpath');">XPATH</label>
            </span>
            <span ng-if="!!currentInstruction.locator.name">
              <label class="radio-inline">
                <input type="radio" name="optradio" value="name" ng-model="currentInstruction.selectedLocator" ng-click="changeLocator(currentInstruction,'name');">NAME</label>
            </span>
          </span>
        </div>
      </div>
      <div ng-if="currentInstruction.value!=undefined" style="width: 98%;margin-left: 1%;margin-top: 5px;">
        <input type="text" style="width:50%;float:left" placeholder="API Value" ng-model="api.apiValue" ng-change="setApiValue();displayApiValue();"
          list="testList" class="form-control">
        <input type="text" style="width:50%;float:left" placeholder="String Value" ng-model="api.apiString" ng-change="currentInstruction.value = {'value':api.apiString};api.apiValue='';api.currentApiValue=false"
          class="form-control">
        <datalist id="testList" ng-init="apiIndex=false">
          <option ng-repeat="apis in apiKeys" value="{{apis.key}}">
        </datalist>
        <div class="clearfix"></div>
      </div>
      <div ng-if="(api.currentApiValue && !currentInstruction.status && !currentInstruction.script && !currentInstruction.wait && !currentInstruction.waitElement && !currentInstruction.loadURL)" style=" border: 1px dashed #aba8a8;margin: 2px 0;max-width: 300px;overflow: hidden;">
        <p style="margin: 5px;text-align: center;color: darkred;">{{api.currentApiValue}}</p>        
      </div>

      <!-- <div style="border: 1px dashed #aba8a8;margin: 2px 0;max-width: 300px;overflow: hidden;height:auto;">
        <p style="margin: 5px;">          
          <input type="checkbox" id="status-inst" ng-model="currentInstruction.statusInstruction" style="margin: 2px 0px 0px 0px;" ng-click="addStatusInstruction();" /> 
          <label for="status-inst" style="margin: 2px 0px 0px 5px;color:#333;font-weight:bold;">Add Status</label>
        </p>        
        <p style="margin: 5px;" ng-if="currentInstruction.statusInstruction">
          <input type="status-msg" ng-model="currentInstruction.statusMsg" placeholder="Add Status Message..." style="width:290px;height:40px;padding:5px;" ng-change="updateStatusInstruction();" />
        </p>
      </div> -->      

      <json-formatter ng-class="{'codeBoxNotActive':!currentInstruction.enabled,'codeBoxActive':currentInstruction.enabled}" class="sizer"
        id="codeBox" json="currentInstruction" open="1"></json-formatter>
      <div class="container container-table" style="margin-top: 10px">
        <div class="row vertical-center-row">            
            <button type="button" class="btn" ng-class="{'btn-success':!currentInstruction.enabled,'btn-danger':currentInstruction.enabled}" ng-click="currentInstruction.enabled=!currentInstruction.enabled" 
            ng-style="(conditionFlag && currentInstructionCount == 0) ? {'display':'none'} : {'display':'inline-block'}">
              {{currentInstruction.enabled?'Disable':'Enable '}}
            </button>
          <button class="btn btn-success center" ng-click="generateInstructions()">Generate Code</button>
        </div>
      </div>
    </div>

    <div ng-if="generation.instructionsGenerated">
      <div class="row">
        <div class="col-xs-3">
          <button type="button" class="btn btn-default btn-sm" ng-click="generation.instructionsGenerated=false;generation.copied=false;">Back</button>
        </div>
        <div class="col-xs-6">
          <!-- <p style="text-align: center;">{{currentInstructionCount+1}} out of {{response.length}}</p> -->
        </div>
        <div class="col-xs-3" style="margin-left: -8px;">
          <!-- <button class="btn btn-success btn-sm" ng-click="copyToClipBoard()">{{generation.copied?'Copied':'Copy Code'}}</button> -->
          <!-- <button type="button" class="btn btn-sm" ng-class="{'btn-success':!currentInstruction.enabled,'btn-danger':currentInstruction.enabled}"
                ng-click="currentInstruction.enabled=!currentInstruction.enabled">{{currentInstruction.enabled?'Disable':'Enable '}} </button> -->
        </div>
      </div>
      <json-formatter style="margin-top: 10px" class="sizer" json="instructions" open="2"></json-formatter>
      <div class="container container-table" style="margin-top: 10px">
        <div class="row vertical-center-row">
          <button class="btn btn-success center" ng-click="copyToClipBoard()">{{generation.copied?'Copied':'Copy Code'}}</button>
        </div>
      </div>
    </div>

  </div>
  <script src="libs/jsonFormater/json-formatter.js"></script>
</body>

</html>